{% extends "base.html" %}
{% block main_page %}
<div class="container" style="margin-top:70px;">
<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				Post Details
			</div>
			<div class="panel-body">
				Post Details goes here
			</div>
		</div>
	</div><!--/md-4 -->
	<div class="col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				select a time interval to plan
			</div>
			<div class="panel-body">
                <div class="slider-range">
				<input id="min" type="text"/>

                <input id="max" type="text">

				<div id="slider" style="margin-top:20px;"></div>
                <div class="tooltip tooltip1">hi</div>
<div class="tooltip tooltip2">hi2</div>
            </div><!--/slider-range -->
			</div>
		</div>
	</div><!--/md-8 -->
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				all plans will be appear here
			</div>
			<div class="panel-body">
                <div class="slider-range">
				<input id="min" type="text"/>

                <input id="max" type="text">

				<div id="slider" style="margin-top:20px;"></div>
                <div class="tooltip tooltip1">hi</div>
                <div class="tooltip tooltip2">hi2</div>
            </div><!--/slider-range -->
				<div class="row">
					<div class="col-sm-1">.sm-1</div>
					<div class="col-sm-1">.sm-1</div>
					<div class="col-sm-1">.sm-1</div>
					<div class="col-sm-1">.sm-1</div>
					<div class="col-sm-1">.sm-1</div>
					<div class="col-sm-1">.sm-1</div>
					<div class="col-sm-1">.sm-1</div>
					<div class="col-sm-1">.sm-1</div>
					<div class="col-sm-1">.sm-1</div>
					<div class="col-sm-1">.sm-1</div>
					<div class="col-sm-1">.sm-1</div>
					<div class="col-sm-1">.sm-1</div>
					<div class="col-sm-1">.sm-1</div>
					<div class="col-sm-1">.sm-1</div>
					<div class="col-sm-1">.sm-1</div>
					<div class="col-sm-1">.sm-1</div>
					<div class="col-sm-1">.sm-1</div>
					<div class="col-sm-1">.sm-1</div>
					<div class="col-sm-1">.sm-1</div>
					<div class="col-sm-1">.sm-1</div>
					<div class="col-sm-1">.sm-1</div>
					<div class="col-sm-1">.sm-1</div>
					<div class="col-sm-1">.sm-1</div>
					<div class="col-sm-1">.sm-1</div>
					<div class="col-sm-1">.sm-1</div>
				</div><!--/after bslider row -->
			</div>
		</div>
	</div><!--/md-12 -->
</div>
</div>
   <script>
		$(".slider-range").each(function() {
		    $("#slider").slider({
				range:true,
				value:10,
				min: 0,
				max: 24,
				step: 1,
				values:[8,18],
				slide: function( event, ui ) {
                    var lower = $(this).slider("values", 0);
                    var upper = $(this).slider("values", 1);

                    // update spans with slider values
                    $(this).children("a.ui-slider-handle").first().children("span").html(lower);
                    $(this).children("a.ui-slider-handle").last().children("span").html(upper);

				    $('#min').val(ui.values[ 0 ]);
                    $('#max').val(ui.values[ 1 ])
				  }
				});
				// add the span element to the handle
                $(this).children("a.ui-slider-handle").html("<span class='Slider_Value'></span>");
		});

</script>
{% endblock main_page%}

{% block navmenu %}

{% if request.user.is_authenticated %}

	<h4>Welcome back, <b>{{ request.user.username }},</b><a href="{% url 'logout' %}">logout</a></h4>

{% else %}

<a href="{% url 'signin' %}"><button class="btn btn-success pull-right">Login</button></a>
<a href="{% url 'signup' %}"><button class="btn btn-success pull-right">SignUp</button></a>

{% endif %}

{% endblock navmenu %}
