{% extends "base.html" %}
{% load bootstrap %}
{% block navmenu %}
    <ul class="nav navbar-nav pull-right" style="margin-right:20px;">
      <li style="margin-right:10px;"><h4>
        <a href="/posts/add/">
          <button class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>Create Post</button>
        </a>
        </h4>
      </li>
      <li>
        <h4>
          <a href="/login/">
            <button class="btn btn-primary"><span class="glyphicon glyphicon-user"></span>Login/SignUp</button>
          </a>
        </h4>
      </li>
    </ul>
{% endblock navmenu %}
{% block main_page %}
<div class="container" style="margin-top:70px;">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-4">
			<div class="panel panel-primary">
				<div class="panel-heading">
					Login:
				</div>
				<div class="panel-body">
					<form class="form" method="post" action="">{% csrf_token %}
						{{ loginform|bootstrap }}
						<button class="btn btn-primary" type="submit">Login</button>
					</form>
				</div>
			</div>
		</div><!--//col-md-4 login form -->
		<div class="col-md-1"></div>
		<div class="col-md-4">
			<div class="panel panel-primary">
				<div class="panel-heading">SignUp Now</div>
				<div class="panel-body">
					<form action="" method="post">{% csrf_token %}
						{{ form|bootstrap }}
						<button class="btn btn-primary" type="submit">SignUp</button>
					</form>
				</div>
			</div>
		</div><!--//col-md-4 -->
		
	</div>
</div>


{% endblock main_page%}
